@import "../../styles/variables";

.dialog-window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: $background-dialog-window;

  &__header {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    margin: 0 35px;
    position: relative;
    height: 60px;


    &-info {
      align-self: center;
      text-align: center;

      h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 3px;
      }

      span {
        font-size: 14px;
        line-height: 16px;
        opacity: 0.3;
        position: relative;

        &::before {
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background: #00C980;
          position: absolute;
          left: -10px;
          top: 6px;
        }
      }
    }

    &-options-button {
      display: flex;
      height: auto;
      position: absolute;
      right: 0;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__messages {
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
    overflow-y: auto;
    height: 100%;
    border-top: 1px solid #F7F7F7;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: darken(#c2c2c2, 5%);
  }

  &__input {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 16px;
    color: #B4B4B4;

    .ant-input-affix-wrapper.ant-input-affix-wrapper-lg {
      border: 1px solid #E9E9E9;
      border-radius: 2px;

      .ant-input-prefix {
        margin-right: 13px;
        cursor: pointer;

        span {
          &:hover {
            svg {
              fill: #828282;

            }
          }
        }
      }

      .message-input-buttons {
        display: flex;

        span {
          margin-left: 12px;
          cursor: pointer;

          &:hover {
            svg {
              fill: #828282;

            }
          }
        }
      }
    }
  }
  &__empty, &__loading{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}