$blue: #3674FF;
$typing-bubble-background-color: #e5edff;
$typing-bubbleDot-background-color: #a6bdf0;
$outgoing-message-bubble-background-color: #FFFFFF;
$audio-progress-color: #418FFF;
$audio-btn-play-color: #0F3997;

